body {
    background-color: rgb(255,255,255)
}

.name-text {

    text-align: center;
    color: blue;

}

.about-header {

    color: red;
    font-family: "Arial", sans-serif;
    font-style: italic
    
}

.skills-header {

    color: darkgreen;
    font-family: "Georgia", sans-serif;
    font-weight: 100;
}

.projects-header {

    color: darkmagenta;
    font-family: "Comic Sans Serif", sans-serif;
    font-style: italic;

}

.contact-header {

    color: darkgoldenrod;
    font-size: medium;

}