body {
    background-color: rgb(255,255,255)
}

.name-text {

    text-align: center;
    color: rgb(0, 0, 0);

}

.about-header {

    color: rgb(0, 0, 0);
    font-family: "Georgia", sans-serif;
   
}

.skills-header {

    color: rgb(0, 0, 0);
    font-family: "Georgia", sans-serif;
}

.projects-header {

    color: rgb(0, 0, 0);
    font-family: "Georgia", sans-serif;

}

.contact-header {

    color: rgb(0, 0, 0);
    font-family: "Georgia", sans-serif;

}

.problem-header {

    color: rgb(0,0,0);
    font-family: "Georgia", sans-serif;
}